@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-color: #0e1db0;
  --primary-sidebar: #141739;
  --primary-color-light: #4890e9;
  --secondary-color: #fac402;
  --tetiary-color: #fcb721;
  --text-color: #fcfcfc;

  --description: 1.3rem;
}
html {
  box-sizing: border-box;
}
body {
  font-family: josefin sans;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ////////////SIDEBAR PANELL CONTROL///////////// */

img {
  width: 3rem;
  height: 3rem;
}
a {
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.2rem;
}
/* span {
  margin-left: 1rem;
} */
li {
  list-style-type: none;
}
button {
  width: 21.3rem;
  color: var(--text-color);
  font-size: 1.3rem;
  border-radius: 1.5rem;
  padding: 0.9rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  outline: none;
  background-color: var(--tetiary-color);
}
button {
  width: 21.3rem;
  color: var(--text-color);

  border-radius: 1.5rem;
  padding: 0.9rem;
  text-align: center;

  outline: none;
}
.parts {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
/* BELOW  NAV BAR STYLES */

/* PANEL CONTROL */
.sidebar {
  background-color: #00163f;
  color: var(--text-color);
  width: 19vw;
  gap: 1rem;
  height: 69rem;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 2rem 2rem 0;
}
.element {
  padding: 0.5rem 0;
  width: 14rem;
  transition: 0.7s;
}
.element:hover {
  background-color: #4890e9;
  border-radius: 0.6rem;
}
.element :global(.action) {
  background-color: #4890e9;
}
.logobox {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 2rem;
  justify-items: center;
}
.logo {
  font-size: 1.7rem;
  display: flex;
  margin-left: 1rem;
  align-items: center;
  color: var(--text-color);
  font-weight: 800;
}
.dropdown {
  display: none;
  width: 84%;
  margin: 0;
  padding: 0;
  padding-left: 2.5rem;
}

.drop {
  padding: 1rem 0.5rem;
  width: 100%;
  font-size: 1rem;
}
.drop:hover {
  background-color: #4890e9;
  border-radius: 0.6rem;
}
li:hover ul.dropdown {
  background-color: none;
  display: block;
}
/* PANEL DATA */
.data {
  width: 80vw;
}
.action {
  margin-left: 1.4rem;
}
.panel {
  width: 20vw;
  height: 100vh;
}
.tabletopic {
  margin-bottom: 1rem;
}
/* /////////////ADD QUESTIONS PAGE////////// */
input {
  outline-color: var(--primary-color);
}
.allcourses {
  display: flex;
}

.addquestion {
  width: 70vw;
  margin: 0 auto;
}
.tabletopics {
  color: var(--title-color);
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  /* margin-left: 5rem; */
}
.info {
  margin: 0;
  font-size: 1.2rem;
}
.info::after {
  content: "";
  width: 90%;
  height: 1rem;
  display: block;
  left: 1rem;
}
.name {
  margin: 0;
  font-size: 1rem;
  top: 7.2rem;
  margin-left: 0.7rem;

  padding: 0 0.3rem;
  position: absolute;
  background-color: var(--text-color);
}
.nam {
  font-size: 1rem;
  top: 12.8rem;

  margin-left: 0.7rem;
  padding: 0 0.3rem;
  position: absolute;
  background-color: var(--text-color);
}
.upload {
  gap: 3rem;
}
.okay {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
  border: 0.1rem solid var(--primary-color);
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.7rem 1.7rem;
  border-radius: 0.4rem;
}
.papername {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
  width: 17rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 10rem;
}
.papernam {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
  width: 18.3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 10rem;
}
.namput {
  width: 17.3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #a0c9ff;
  color: var(--text-color);
}

.direction {
  margin-left: 4.6rem;
}
.coursetable {
  width: 70vw;

  height: max-content;
  margin-left: 4.7rem;
}
.coursetablecontent {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dropdown {
  font-size: 2rem;
}
.heading {
  justify-content: space-between;
  line-height: 1.5;
  display: flex;
  margin-bottom: 1rem;
}
.coursedetails {
  width: 100vw;
}
.tabletopics {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--title-size);
  /* margin-left: 5rem; */
}
.content {
  background-color: #f3f4ff;
  width: 30vw;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 0.8;
  border-radius: 0.6rem;
}

.title {
  color: var(--title-color);
  font-size: 1.3rem;
  margin: 0;
  font-weight: 700;
}
.papers {
  font-weight: lighter;
  color: #141739;
}
.viewcourse {
  color: #00163f;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  float: right;
  transition: 0.8s;
}
.viewcourse:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}

span.grey {
  color: grey;
}
.direction {
  margin-left: 4.6rem;
}
.coursetable {
  width: 70vw;

  height: max-content;
}
.coursetablecontent {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dropdown {
  font-size: 2rem;
}
.heading {
  justify-content: space-between;
  line-height: 1.5;
  display: flex;
  margin-bottom: 1rem;
}
.coursedetails {
  width: 100vw;
}
.tabletopics {
  color: var(--title-color);
  font-weight: 800;
  font-size: 2rem;
  /* margin-left: 5rem; */
}
.tabletopic {
  font-size: 1.3rem;
  font-weight: 800;
}
.content {
  background-color: #f3f4ff;
  width: 30vw;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  border-radius: 0.6rem;
}

.title {
  color: var(--title-color);
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}
.papers {
  font-weight: lighter;
  color: #141739;
}
.viewcourse {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.3rem;
  transition: 0.5s;
}
.viewcourse:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
}
.crs {
  gap: 1rem;
  width: 100%;
}
/* ///////////////QUESTION PAPER STYLES////////// */

.addquestion {
  width: 70vw;
  /* margin: 0 auto; */
}
.controlbox {
  display: flex;

  margin-top: 3rem;
  gap: 8rem;
  align-self: center;
  line-height: 0;
}
.controlheading {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 0.9rem;
}
.papername {
  width: 20rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  outline: var(--primary-color);
}
.papernam {
  /* margin-right: 2rem; */
  padding: 0.4rem 1rem;
  width: 7.3rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  /* height: 1.6rem; */
}
.papericon {
  color: red;
  font-size: 2rem;
  line-height: 2.5;
  margin-right: 1.5rem;
  /* background-color: red; */
}
.paper {
  display: flex;
}

<<<<<<< HEAD
/* /////Student Dashboard////// */
.dashboard {
  width: 90%;
  margin: auto;
}
.header {
  /* align-self: center; */
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}
.brd {
  margin: 0;
  line-height: 1.5;
}
.crs {
  color: #4890e9f5;
  line-height: 3.5;
  padding: 0.8rem;
  border: 0.1rem solid #4890e9f5;
  border-radius: 0.4rem;
  transition: 0.5s;
}
.crs:hover {
  color: white;
  background-color: #4890e9f5;
  transform: scaleX(1.5);
}
.mycorse {
  width: 100%;
}
.path {
  width: 50%;
}
.courses {
  width: 50%;
}
.heding {
  text-transform: uppercase;
  font-weight: 700;
}
.line {
  color: gray;
  width: 57%;
  float: right;
  margin-right: 2rem;
  transform: translateY(-2.2rem);
}
.line2 {
  color: gray;
  width: 82%;
  float: right;
  /* margin-right: 2rem; */
  transform: translateY(-2.2rem);
}
.journey {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}
.len {
  width: 100%;
  justify-content: space-between;
}
.gap {
  gap: 1rem;
}
.align {
  align-self: center;
}
.course1 {
  width: 90%;
  margin-bottom: 2rem;
  padding: 0 1rem;
  padding-top: 0.7rem;
  box-shadow: 0px 0px 1px 1px rgb(162, 162, 162);
}
.nehm {
  font-size: 1rem;
  font-weight: 600;
}
.num {
  font-size: 0.8rem;
  margin: 0;
  line-height: 2;
}
.resume {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color: #00163f;
  transition: 0.5s;
  border-radius: 0.4rem;
  border: 0.1rem solid #4890e9f5;
}
.resume:hover {
  color: white;
  background-color: #4890e9;
}
.below {
  top: 0.5rem;
  position: relative;
  height: 0.4rem;
  width: 100%;

  border-radius: 0.3rem;
  box-shadow: 0px 0px 1px 1px rgb(162, 162, 162);
}
.below1 {
  border-color: #013559;
  background-color: #013559;
}
.below2 {
  border-color: #009cd7;
  background-color: #009cd7;
}
.below3 {
  border-color: #fede23;
  background-color: #fede23;
}
.below4 {
  border-color: #d90018;
  background-color: #d90018;
}
.enrol {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.studying {
  width: 40%;
  box-shadow: 0px 0px 1px 1px rgb(162, 162, 162);
  background-color: rgb(162, 162, 162);
}
/* .big {
  width: 40%;
} */
.descripimg {
  width: 100%;
  height: 8rem;
  position: relative;
  bottom: 1.16rem;
}
.lern {
  margin: 0;
  padding-bottom: 01rem;
  padding-left: 0.8rem;
}
=======
.dashboard-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 2000px;
  margin-left: 30px;
  margin-top: 30px;
}

.dashboard-element {
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-element h2 {
  margin-bottom: 10px;
}

.answered-questions {
  font-weight: bold;
  font-size: 18px;
}
>>>>>>> c00a3e890d49f0f62debdfe80ceb46a4260c380f
