@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* --primary-color: #0e1db0; */
  --primary-sidebar: #141739;
  /* --primary-color-light: #4890e9; */
  /* --secondary-color: #fac402;
  --tetiary-color: #fcb721; */
  --back-color: #f0f0f0;
  --button-color:#00163f;
  --front-color: #a0c9ff;
  --inactive-color: #dae7f8;
  --text-color: #fcfcfc;

  /* --description: 1.3rem; */
}
* {
  box-sizing: box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: josefin sans;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ////////////SIDEBAR PANELL CONTROL///////////// */

img {
  width: 3rem;
  height: 3rem;
}
a {
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.2rem;
}
/* span {
  margin-left: 1rem;
} */
li {
  list-style-type: none;
}
button {
  width: 21.3rem;
  color: var(--text-color);
  font-size: 1.3rem;
  border-radius: 1.5rem;
  padding: 0.9rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  outline: none;
  background-color: var(--tetiary-color);
}
button {
  width: 21.3rem;
  color: var(--text-color);

  border-radius: 1.5rem;
  padding: 0.9rem;
  text-align: center;

  outline: none;
}
.hundred {
  width: 100%;
}
.parts {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
/* BELOW  NAV BAR STYLES */

/* PANEL CONTROL */
.sidebar {
  background-color: #00163f;
  color: var(--text-color);
  width: 19vw;
  gap: 1rem;
  height: 69rem;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 2rem 2rem 0;
}
.element {
  padding: 0.5rem 0;
  width: 14rem;
  transition: 0.7s;
}
.element:hover {
  background-color: #4890e9;
  border-radius: 0.6rem;
}
.element :global(.action) {
  background-color: #4890e9;
}
.logobox {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 2rem;
  justify-items: center;
}
.logo {
  font-size: 1.7rem;
  display: flex;
  margin-left: 1rem;
  align-items: center;
  color: var(--text-color);
  font-weight: 800;
}
.dropdown {
  display: none;
  width: 84%;
  margin: 0;
  padding: 0;
  padding-left: 2.5rem;
}

.drop {
  padding: 1rem 0.5rem;
  width: 100%;
  font-size: 1rem;
}
.drop:hover {
  background-color: #4890e9;
  border-radius: 0.6rem;
}
li:hover ul.dropdown {
  background-color: none;
  display: block;
}
/* PANEL DATA */
.data {
  width: 80vw;
}
.action {
  margin-left: 1.4rem;
}
.panel {
  /* width: 20vw; */
  height: 100vh;
}
.tabletopic {
  margin-bottom: 1rem;
}
/* /////////////ADD QUESTIONS PAGE////////// */
input {
  outline-color: var(--primary-color);
}
.allcourses {
  display: flex;
}

.addquestion {
  width: 70vw;
  margin: 0 auto;
}
.tabletopics {
  color: var(--title-color);
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  /* margin-left: 5rem; */
}
.info {
  margin: 0;
  font-size: 1.2rem;
}
.info::after {
  content: "";
  width: 90%;
  height: 1rem;
  display: block;
  left: 1rem;
}
.name {
  margin: 0;
  font-size: 1rem;
  top: 7.2rem;
  margin-left: 0.7rem;

  padding: 0 0.3rem;
  position: absolute;
  background-color: var(--text-color);
}
.nam {
  font-size: 1rem;
  top: 12.8rem;

  margin-left: 0.7rem;
  padding: 0 0.3rem;
  position: absolute;
  background-color: var(--text-color);
}
.upload {
  gap: 3rem;
}
.okay {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
  border: 0.1rem solid var(--primary-color);
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.7rem 1.7rem;
  border-radius: 0.4rem;
}
.papername {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
  width: 17rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 10rem;
}
.papernam {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
  width: 18.3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 10rem;
}
.namput {
  width: 17.3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #a0c9ff;
  color: var(--text-color);
}
/*  //// styling the section parts content /////// */
.direction {
  margin-right: 2rem;
}
.cont {
  display: flex;
}
.cont-1 {
  font-size: 300px;
}
.coursetable {
  width: 70vw;
  height: max-content;
  margin: 0 auto;
  /* position: absolute;
  top: 16px; */
}
.coursetablecontent {
  display: block;
  column-gap: 5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}
/* .content {
  background-color: var(--primary-color);
  width: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 0.8;
  border-radius: 0.6rem;
  height: 80%;
} */
.content-1 {
  background-color: rgb(83, 23, 83);
  width: 240px;
  color: white;
  border-radius: 4px;
  /* overflow: hidden; */
  /* padding: 12px 14px; */
  border-radius: 4px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.myimg {
  justify-content: center;
  padding: 83px;
}

div.content-1 div.pre-1 {
  width: 100%;
  background-color: white;
  height: 50px;
  color: black;
  text-align: center;
}

/* styling the cont-2 tag */
.content-2 {
  background-color: rgb(20, 47, 63);
  width: 240px;
  color: white;
  border-radius: 4px;
  /* overflow: hidden; */
  /* padding: 12px 14px; */
  border-radius: 4px;
  column-gap: 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.fa-heart-o {
  font-size: 40px;
  color: red;
}

div.content-2 div.pre-1 {
  width: 100%;
  background-color: white;
  height: 50px;
  color: black;
  text-align: center;
}
.coursetablecontent {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dropdown {
  font-size: 2rem;
}
.heading {
  justify-content: space-between;
  line-height: 1.5;
  display: flex;
  margin-bottom: 1rem;
}
.coursedetails {
  width: 100vw;
}
.tabletopics {
  color: var(--title-color);
  font-weight: 800;
  font-size: 2rem;
  /* margin-left: 5rem; */
}
.tabletopic {
  font-size: 1.3rem;
  font-weight: 800;
}
.content {
  background-color: #f3f4ff;
  width: 30vw;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
  border-radius: 0.6rem;
}

.title {
  color: var(--title-color);
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}
.papers {
  font-weight: lighter;
  color: #141739;
}
.viewcourse {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.3rem;
  transition: 0.5s;
}
.viewcourse:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
}
.crs {
  gap: 1rem;
  width: 100%;
}
/* ///////////////QUESTION PAPER STYLES////////// */

.addquestion {
  width: 70vw;
  /* margin: 0 auto; */
}
.controlbox {
  display: flex;

  margin-top: 3rem;
  gap: 8rem;
  align-self: center;
  line-height: 0;
}
.controlheading {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 0.9rem;
}
.papername {
  width: 20rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  outline: var(--primary-color);
}
.papernam {
  /* margin-right: 2rem; */
  padding: 0.4rem 1rem;
  width: 7.3rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  /* height: 1.6rem; */
}
.papericon {
  color: red;
  font-size: 2rem;
  line-height: 2.5;
  margin-right: 1.5rem;
  /* background-color: red; */
}
.paper {
  display: flex;
}

.dashboard-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 2000px;
  margin-left: 30px;
  margin-top: 30px;
}

.dashboard-element {
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-element h2 {
  margin-bottom: 10px;
}

.answered-questions {
  font-weight: bold;
  font-size: 18px;
}
/* /////////New backend styles///////// */
.flex {
  display: flex;
}
.upload {
  width: 75%;
  margin: 0 auto;
}
.upload-form {
  justify-content: space-around;
  flex-direction: column;
  background-color: #f5f6fc;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: 23vw;
  /* text-align: center; */
}
.upload-des {
  position: relative;
  font-size: 1.3rem;
}
.course-name {
  width: 23vw;
  padding: 0.7rem 0.2rem;
  font-size: 1.2rem;
  border: 1px solid #d8dbf0;
  background-color: #d8dbf0;
  outline-color: #0e1db0;
  border-radius: 0.5rem;
}
option {
  /* outline:1px solid #0e1db0; */
}
.course-upload {
  background-color: #d8dbf0;
  border: 1px solid black;
  padding: 0.7rem 0.2rem;
  border: 1px solid #d8dbf0;
  padding: 8px 12px;
  width: 21vw;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}
/* .input-file {
  display: none; /* Hide the default file input */

.course-btn {
  color: white;
  margin: 0 auto;

  background-color: var(--button-color)
  border: 0.1rem solid #00163f;
}
.course-name:hover {
  outline: #0e1db0;
}
.course-btn:hover {
  color: white;
  margin: 0 auto;
  background-color: #00163f;
  border: 0.1rem solid #00163f;
}

/* /* ////////My courses ////////// */
.my-enrolled-courses {
  width: 80%;
  margin: 0 auto;
}
.enrolled {
  width: 100%;
  padding: 0;
  gap: 1rem;
  justify-content: space-evenly;
}
.block-course {
  width: 10rem;
  height: 10rem;
  background-color: #0e1db0;
}
.page-color {
  color: #030b53;
  font-size: 2rem;
}
.courses-color {
  color: #030b53;
  font-size: 2rem;
}
/* ////////Student Profile Page////////// */
/* /////Nav bar////// */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: var(--back-color);
  align-items: center;
  margin: 0;
  padding: 0;
}
.leftnav {
  background-color: var(--front-color);
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.usesearch {
  font-size: 1.3rem;
  color: rgb(211, 229, 230);
}
.usersearch {
  width: 20rem;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--front-color);

  border: 1px solid var(--front-color);
  outline: none;
}
.rightnav {
  align-items: center;
  margin-right: 2rem;

  gap: 1rem;
}
.profile-parent {
  width: 4vw;
  border-radius: 10rem;
  background-color: #0e1db0;
}
.userprofile {
  border-radius: 10rem;
}
.profile-content {
  justify-content: space-evenly;
}
.bell{
  color: white;
  background-color: red;
  font-size: x-small;
  font-weight: 900;
  padding: 0.1rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  right: 1.3rem;
  bottom: 0.3rem;
}
/* /////below Nav bar for student profile////// */
.persona {
  margin-top: 1rem;
}
.user-details {
  width: 30%;
  height: 20vh;
  background-color: var(--back-color);
}
.basic-info-head{
  margin-top: 0;
  margin-left: 2.3rem;
}
.basic-info {
  width: 59%;
  padding: 2rem 0;
  border-radius: 1rem;
  background-color: var(--back-color);
}
.user-descrip {
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.read {
  outline: none;
  color: black;
  font-size: 1.3rem;
  padding: 0.6rem 0.4rem;
  border-radius: 0.6rem;
  border: 1px solid var(--inactive-color);
  background-color: var(--inactive-color);
}
.pass-update {
  justify-content: space-evenly;
}
.profile-btn {
  font-size: 1.3rem;
  color: white;
  width: 10 rem;
  background-color: var(--button-color);
  border-radius: 1rem;
  border: 1px solid var(--button-color);
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  text-align: center;
}
/* styling the first-header tag */
.sub{
  display: flex;
}
.container{
  padding: 10px 50px 10px 50px;
}
.font-awe{
  float: right;
  position: absolute;
  right: 40px;
  top: 30px;
}
.subject{
  font-size: 28px;
}
/* styling the main content  */
.whole{
  display: flex;
  justify-content: space-between;
  row-gap: 3rem;
  column-gap: 5rem;
  flex-wrap: wrap;
 
}
.sqr{
  border-radius: 12px;
  background-color: white;
  border: 1px solid grey;
}
/* style for the half section of the tag */
.short{
  background-color: darkblue;
  width: 100%;
  height: 60px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.stars{
  font-size: 7px;
  color: gold;
}
.sub_name{
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.sec_sqr{
  display: block;
}
.views{
  
}