<section class="hundred">
    <div class="coursetable">
      <div class="heading">
        <span class="tabletopics">My Courses</span>
        <div>
          <span>Sort By</span>
          <span class="dropdown">&rsaquo;</span>
        </div>
      </div>
      <div class="coursetablecontent">
        {% for course in courses %}
        <div class="content">
          <p class="title">{{ course.name }}</p>
          <p class="papers">{{ course.num_papers }} papers</p>
          <a
            href="{{ url_for('papers', course_id=course['_id']) }}"
            class="viewcourse"
          >
            Continue <span>&rarr;</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>