<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="allcourse">
      <section class="parts">
        <div class="panel">
          <div class="sidebar">
            <div class="logobox">
              <img src="./assets/favicon.png" alt="Quizy" />
              <span class="logo">Quizy</span>
            </div>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="dashboard.html">Dashboard</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Addquestion.html">Upload question</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Courses.html">Add courses</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Mycourses.html">View courses</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="viewpaper.html">View Papers</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Subscription.html">subscription</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Myplan.html">Renew plan</a> </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Profile.html">Profile</a> </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Signout.html">SignOut</a> </span>
            </li>
          </div>
        </div>
      </section>
      <section class="parts">
        <div class="coursedetails">
          <div class="direction">
            <h4>Home/Courses</h4>
          </div>
          <div class="coursetable">
            <div class="heading">
              <span class="tabletopics">My Course</span>
              <div>
                <span>Sort By</span>
                <span class="dropdown">&rsaquo;</span>
              </div>
            </div>
            <div class="coursetablecontent">
              <div class="content">
                <p class="title">System Analysis</p>
                <p class="papers">25 papers</p>

                <a href="sidflis" class="viewcourse">
                  Continue
                  <span>&rarr;</span>
                </a>
              </div>
              <div class="content">
                <p class="title">Cyber Security</p>
                <p class="papers">25 papers</p>

                <a href="sidflis" class="viewcourse">
                  Continue
                  <span>&rarr;</span>
                </a>
              </div>
              <div class="content">
                <p class="title">Algorith and data structure</p>
                <p class="papers">25 papers</p>

                <a href="sidflis" class="viewcourse">
                  Continue
                  <span>&rarr;</span>
                </a>
              </div>
              <div class="content">
                <p class="title">English Language</p>
                <p class="papers">25 papers</p>

                <a href="sidflis" class="viewcourse">
                  Continue
                  <span>&rarr;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
