<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/assets/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="allcourses">
      <section>
        <div class="panel">
          <div class="sidebar">
            <div class="logobox">
              <img src="./assets/favicon.png" alt="Quizy" />
              <span class="logo">Quizy</span>
            </div>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="dashboard.html">Dashboard</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Addquestion.html">Upload question</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Courses.html">Add courses</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Mycourses.html">View courses</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="viewpaper.html">View Papers</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"
                ><a href="Subscription.html">subscription</a>
              </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Myplan.html">Renew plan</a> </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Profile.html">Profile</a> </span>
            </li>
            <li class="element">
              <span></span>
              <span class="action"><a href="Signout.html">SignOut</a> </span>
            </li>
          </div>
        </div>
      </section>
      <section style="width: 100%">
        <div class="dashboard">
          <div class="header flex">
            <div>
              <h1 class="brd">Student Dashboard</h1>
              <p class="brd">Home/student dashboard</p>
            </div>
            <div><a class="crs" href="Mycourses.html">My Courses</a></div>
          </div>
          <div class="mycorse flex">
            <div class="path">
              <p class="heding">Continue Journey</p>
              <hr class="line" />
              <div class="Journey">
                <div class="course1 flex">
                  <div class="flex len">
                    <div class="flex gap">
                      <div class="know">
                        <img src="../static/assets/img/admin/html.png" alt="" />
                      </div>
                      <div class="align">
                        <span class="nehm">Html for Beginners</span>
                        <p class="num">12 courses</p>
                      </div>
                    </div>
                    <p class="resume">Resume</p>
                  </div>
                  <div class="below below1"></div>
                </div>
                <div class="course1 flex">
                  <div class="flex len">
                    <div class="flex gap">
                      <div class="know">
                        <img src="../static/assets/img/admin/css.png" alt="" />
                      </div>
                      <div class="align">
                        <span class="nehm">Css for Beginners</span>
                        <p class="num">12 courses</p>
                      </div>
                    </div>
                    <p class="resume">Resume</p>
                  </div>
                  <div class="below below2"></div>
                </div>
                <div class="course1 flex">
                  <div class="flex len">
                    <div class="flex gap">
                      <div class="know">
                        <img
                          src="../static/assets/img/admin/script.png"
                          alt=""
                        />
                      </div>
                      <div class="align">
                        <span class="nehm">Javascript for Beginners</span>
                        <p class="num">12 courses</p>
                      </div>
                    </div>
                    <p class="resume">Resume</p>
                  </div>
                  <div class="below below3"></div>
                </div>
                <div class="course1 flex">
                  <div class="flex len">
                    <div class="flex gap">
                      <div class="know">
                        <img
                          src="../static/assets/img/admin/angular.png"
                          alt=""
                        />
                      </div>
                      <div class="align">
                        <span class="nehm">Angular js for Beginners</span>
                        <p class="num">12 courses</p>
                      </div>
                    </div>
                    <p class="resume">Resume</p>
                  </div>
                  <div class="below below4"></div>
                </div>
              </div>
            </div>
            <div class="courses">
              <p class="heding">COURSES</p>
              <hr class="line2" />
              <div class="enrol flex">
                <div class="studying">
                  <div class="big">
                    <img
                      src="../static/assets/img/admin/image.png"
                      alt="image"
                      class="descripimg"
                    />
                  </div>
                  <p class="heding lern">Learn React</p>
                </div>
                <div class="studying">
                  <div class="big">
                    <img
                      src="../static/assets/img/admin/image.png"
                      alt="image"
                      class="descripimg"
                    />
                  </div>
                  <p class="heding lern">Learn React</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
